/*
コンテンツ幅を設定するための共通クラス
*/
.wrapper {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
}
.content {
  padding-top: 120px;
  padding-bottom: 160px;
}
.site-title a {
  width: 180px;
  line-height: 1px;
  display: block;
}
.page-title {
  font-size: 0.875rem;
  font-weight: normal;
  margin-bottom: 30px;
}

/*-------------------------------------------
ITEM
-------------------------------------------*/
.item {
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.item .item-text {
  width: 42%;
}
/*
text-align: justify;
テキストの両端を揃える
*/
.item .item-text p {
  margin-bottom: 30px;
  text-align: justify;
}
.item .item-text dl {
  display: flex;
  flex-wrap: wrap;
}
.item .item-text dt {
  width: 30%;
}
.item .item-text dd {
  width: 70%;
}
.item .item-img {
  width: 50%;
}
.link-text {
  display: block;
  margin-top: 40px;
  text-align: center;
}

/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 900px) {
  /*-------------------------------------------
  ITEM
  -------------------------------------------*/
  .item {
    flex-direction: column;
  }
  .item .item-text {
    width: 100%;
  }
  .item .item-img {
    width: 100%;
    margin-bottom: 30px;
  }
}
