/*
コンテンツ幅を設定するための共通クラス
*/
.wrapper {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
}
.content {
  padding-top: 120px;
  padding-bottom: 160px;
}
.site-title a {
  width: 180px;
  line-height: 1px;
  display: block;
}
.page-title {
  font-size: 0.875rem;
  font-weight: normal;
  margin-bottom: 30px;
}

/*-------------------------------------------
TOP、PRODUCTS
-------------------------------------------*/
.top {
  padding-top: 80px;
  padding-bottom: 160px;
}
.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
}
/*
vertical-align: top;
画像の下にできる隙間を消す
*/
.product-list img {
  margin-bottom: 10px;
  vertical-align: top;
}
.product-list p {
  font-size: 0.75rem;
}
.link-text {
  display: block;
  margin-top: 40px;
  text-align: center;
}

/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 900px) {
  /*-------------------------------------------
  TOP、PRODUCTS
  -------------------------------------------*/
  .product-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 20px;
  }
}
